<ul class="breadcrumb">
    {% for item in items %}
        {% if item.path and not loop.last %}
            <li class="breadcrumb-item"><a href="{{ item.path }}">{{ item.name }}</a></li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
        {% endif %}
    {% endfor %}
</ul>